<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
      <h2 class="uk-heading-large">The Simplest Bug Manager</h2>
      <p class="uk-text-large">12 bugs listed, 1 bugs open, 5 bugs closed.</p>
    </div>
  </div>

  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-4">
      <div class="uk-panel uk-panel-box" data-uk-sticky="{top:35}">
        <ul class="uk-nav uk-nav-side" data-uk-scrollspy-nav="{closest:'li', smoothscroll:true}">
          <li class="uk-nav-header">Bug Management</li>
          <li class="uk-active"><a href="#getstarted">Home</a></li>
          <li class="">{{#link-to "new"}}New Bug{{/link-to}}</li>
          <li class="">{{#link-to "new"}}List all{{/link-to}}</li>
          <li class="uk-nav-header">Settings</li>
          <li class=""><a>Filters and Labels</a></li>
          <li class=""><a>User Settings</a></li>
          <li class="uk-nav-divider"></li>
          <li class="">
            {{#link-to "about"}}<i class="uk-icon-info-circle uk-margin-small-right"></i>About{{/link-to}}
          </li>
        </ul>
      </div>
    </div>
    <div class="uk-width-medium-3-4">
      {{outlet}}
    </div>
  </div>
</div>