<h1>Welcome to Simplest Bug Manager</h1>

<p>We are making the most simple software ever</p>

<p>Actions you can do:</p>
{{#link-to "new"}}Create a new bug{{/link-to}}
{{#link-to "List"}}List all bugs{{/link-to}}
{{#link-to "about"}}Know more about us{{/link-to}}
