<div class="uk-margin"><p>All bugs:</p></div>

<div class="uk-overflow-container">
  <table class="uk-table uk-text-nowrap">
    <thead>
      <th>id</th>
      <th>Status</th>
      <th>Description</th>
    </thead>
    <tbody>
    {{#each model as |bug|}}
      <tr>
        <td><small>{{bug.id}}</small></td>
      {{#if bug.isFixed}}
        <td><span class="uk-badge uk-badge-success">CLOSED</span></td>
      {{else}}
        <td><span class="uk-badge uk-badge-danger">ACTIVE</span></td>
      {{/if}}
        <td><strong>{{bug.bugDescription}}</strong></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
